body {

background-image: url(abstract-dark-black-background-de-focused-free-photo.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}

.contenedor{
    display: flex;
    justify-content: center;
}

.imagen-1{
    width: 300px;
    display: grid;
    height: 450px;
    margin-right: 35px;
    size: "(max: width 768px;";
    margin-top: 1px;
}