body {

background-image: url(abstract-dark-black-background-de-focused-free-photo.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}